FIREBASE_API_KEY=AIzaSyC-379AYWsxPaztwd3A93lqMGHIG_nzt6M
FIREBASE_AUTH_DOMAIN=report-website-efa8e.firebaseapp.com
FIREBASE_DATABASE_URL=https://report-website-efa8e-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=report-website-efa8e
FIREBASE_STORAGE_BUCKET=report-website-efa8e.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=1082661973610
FIREBASE_APP_ID=1:1082661973610:web:0fea4e52978ff5396ee413
FIREBASE_MEASUREMENT_ID=G-WV6B3ZXHK3
